.footer_text {
    max-width: 1240px;
    padding: 30px 10px;
    padding-top: 130px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    font-family: var(--text);
    justify-content: space-between;

    .footer_text-a {
        a {
            color: var(--blue);
        }
    }
}