.header {
  z-index: 999;
  position: fixed;
  top: 0;
  width: 100vw;
  padding: 20px;
  display: flex;
  background-color: rgba(35, 29, 29, 0.368627451);
  height: 100px;
  align-items: center;
}
@media (max-width: 1240px) {
  .header {
    justify-content: space-between;
  }
}
.header .logo {
  display: flex;
  width: 22%;
  gap: 20px;
  height: 55px;
}
@media (max-width: 1240px) {
  .header .logo {
    width: auto;
  }
}
.header .logo svg {
  width: 50px;
  height: 50px;
}
.header .logo span {
  color: var(--total-white);
  font-family: var(--h1);
  font-size: 20px;
  align-self: center;
  text-wrap: nowrap;
}
@media (max-width: 760px) {
  .header .logo span {
    font-size: 18px;
  }
}
.header .nav {
  width: 33%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
@media (max-width: 1240px) {
  .header .nav {
    display: none;
  }
}
.header .nav a {
  margin: 0 10px;
  padding: 13px 20px;
  font-family: var(--h2);
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  transition-duration: 0.3s;
}
@media (max-width: 1550px) {
  .header .nav a {
    margin: 0 5px;
    padding: 7px 10px;
  }
}
@media (max-width: 1200px) {
  .header .nav a {
    margin: 0 5px;
    padding: 7px 10px;
  }
}
.header .nav a:hover {
  color: var(--blue);
  border-bottom: 1px solid var(--blue);
  transition-duration: 0.3s;
}
.header .nav .active {
  color: var(--blue);
  border-bottom: 1px solid var(--blue);
  transition-duration: 0.3s;
}
.header .contacts {
  display: flex;
  width: 45%;
  justify-content: end;
  align-items: center;
  gap: 40px;
}
@media (max-width: 760px) {
  .header .contacts {
    width: auto;
    display: block;
  }
}
.header .contacts .telephone_icon {
  display: flex;
  gap: 15px;
  align-items: center;
}
.header .contacts .telephone_icon .phone_icon a {
  border-radius: 100%;
  background: var(--blue);
  padding: 12px;
}
@media (max-width: 760px) {
  .header .contacts .telephone_icon .phone_icon a {
    padding: 14px;
  }
}
.header .contacts .telephone_icon .phone_icon a i {
  font-size: 18px;
  transform: scaleX(-1);
}
.header .contacts .telephone_icon .phone_number {
  display: flex;
  flex-direction: column;
  text-align: right;
}
@media (max-width: 760px) {
  .header .contacts .telephone_icon .phone_number {
    display: none;
  }
}
.header .contacts .telephone_icon .phone_number .phone_number-a {
  font-size: 22px;
  font-family: var(--h2);
  line-height: 1.5;
  text-wrap: nowrap;
}
@media (max-width: 1024px) {
  .header .contacts .telephone_icon .phone_number .phone_number-a {
    font-size: 20px;
  }
}
.header .contacts .telephone_icon .phone_number .phone_number-p {
  font-family: var(--text);
  font-size: 14px;
  line-height: 1.5;
  text-wrap: nowrap;
}
@media (max-width: 1024px) {
  .header .contacts .telephone_icon .phone_number .phone_number-p {
    font-size: 12px;
  }
}
.header .contacts .sign_up-button {
  display: flex;
  gap: 10px;
  background-color: var(--blue);
  font-family: var(--title);
  text-transform: uppercase;
  display: flex;
  padding: 15px 30px;
  border-radius: 4px;
  font: var(--font-button);
}
@media (max-width: 760px) {
  .header .contacts .sign_up-button {
    display: none;
  }
}
.header .contacts .sign_up-button a svg {
  fill: var(--total-white);
  width: 18px;
  height: 18px;
}/*# sourceMappingURL=header.css.map */