.header {
    z-index: 999;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    background-color: #231D1D5E;
    height: 100px;
    align-items: center;
    .logo {
        display: flex;
        width: 22%;
        gap: 20px;
        height: 55px;
        svg{
            width: 50px;
            height: 50px;
        }
        span {
            color: var(--total-white);
            font-family: var(--h1);
            font-size: 20px;
            align-self: center;
        }
    }
    .nav {
        width: 33%;
        display: flex;
        align-items: center;
        justify-content: center;
        a {
            margin: 0 10px;
            padding: 13px 20px;
            font-family: var(--h2);
            border-bottom: 1px solid #ffffff00;
            transition-duration: 0.3s;

            &:hover {
                color: var(--blue);
                border-bottom: 1px solid var(--blue);
                transition-duration: 0.3s;
            }
        }
    }
    .contacts {
        display: flex;
        width: 45%;
        justify-content: end;
        align-items: center;
        gap: 40px;
        
        .telephone_icon {
            display: flex;
            gap: 15px;
            align-items: center;
            .phone_icon {
                a {
                    border-radius: 100%;
                    background: var(--blue);
                    padding: 12px;

                    i{
                        font-size: 18px;
                        transform: scaleX(-1);
                    }
                }
            }

            .phone_number {
                display: flex;
                flex-direction: column;
                text-align: right;
                .phone_number-a {
                    font-size: 22px;
                    font-family: var(--h2);
                    line-height: 1.5;
                }
                .phone_number-p {
                    font-family: var(--text);
                    font-size: 14px;
                    line-height: 1.5;
                }
            }
        }

        .sign_up-button {
            display: flex;
            gap: 10px;
            background-color: var(--blue);
            font-family: var(--title);
            text-transform: uppercase;
            line-height: 1;
            display: flex;
            font-size: 16px;
            padding: 15px 30px;
            border-radius: 4px;
            a {
                svg{
                    fill: var(--total-white);
                    width: 18px;
                    height: 18px;
                }
            }
        }
    }
}