.header {
    z-index: 999;
    position: fixed;
    top: 0;
    width: 100vw;
    padding: 20px;
    display: flex;
    background-color: #231D1D5E;
    height: 100px;
    align-items: center;

    @media (max-width:1240px) {
        justify-content: space-between;
    }

    .logo {
        display: flex;
        width: 22%;
        gap: 20px;
        height: 55px;

        @media (max-width:1240px) {
            width: auto;
        }

        svg {
            width: 50px;
            height: 50px;
        }

        span {
            color: var(--total-white);
            font-family: var(--h1);
            font-size: 20px;
            align-self: center;
            text-wrap: nowrap;

            @media (max-width:760px) {
                font-size: 18px;
            }
        }
    }

    .nav {
        width: 33%;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;

        @media (max-width:1240px) {
            display: none;
        }

        a {
            margin: 0 10px;
            padding: 13px 20px;
            font-family: var(--h2);
            border-bottom: 1px solid #ffffff00;
            transition-duration: 0.3s;

            @media (max-width: 1550px) {
                margin: 0 5px;
                padding: 7px 10px;
            }

            @media (max-width: 1200px) {
                margin: 0 5px;
                padding: 7px 10px;
            }

            &:hover {
                color: var(--blue);
                border-bottom: 1px solid var(--blue);
                transition-duration: 0.3s;
            }
        }

        .active {
            color: var(--blue);
            border-bottom: 1px solid var(--blue);
            transition-duration: 0.3s;
        }
    }

    .contacts {
        display: flex;
        width: 45%;
        justify-content: end;
        align-items: center;
        gap: 40px;

        @media (max-width:760px) {
            width: auto;
            display: block;
        }

        .telephone_icon {
            display: flex;
            gap: 15px;
            align-items: center;

            .phone_icon {
                a {
                    border-radius: 100%;
                    background: var(--blue);
                    padding: 12px;

                    @media (max-width:760px) {
                        padding: 14px;
                    }

                    i {
                        font-size: 18px;
                        transform: scaleX(-1);
                    }
                }
            }

            .phone_number {
                display: flex;
                flex-direction: column;
                text-align: right;

                @media (max-width:760px) {
                    display: none;
                }

                .phone_number-a {
                    font-size: 22px;
                    font-family: var(--h2);
                    line-height: 1.5;
                    text-wrap: nowrap;

                    @media (max-width:1024px) {
                        font-size: 20px;
                    }
                }

                .phone_number-p {
                    font-family: var(--text);
                    font-size: 14px;
                    line-height: 1.5;
                    text-wrap: nowrap;

                    @media (max-width:1024px) {
                        font-size: 12px;
                    }
                }
            }
        }

        .sign_up-button {
            display: flex;
            gap: 10px;
            background-color: var(--blue);
            font-family: var(--title);
            text-transform: uppercase;
            display: flex;
            padding: 15px 30px;
            border-radius: 4px;

            font: var(--font-button);

            @media (max-width:760px) {
                display: none;
            }

            a {
                svg {
                    fill: var(--total-white);
                    width: 18px;
                    height: 18px;
                }
            }
        }
    }
}