.h2 {
    color: var(--dark-grey);
    text-transform: uppercase;
    font-size: 120px;
    font-family: var(--h2);
}

.banner {
    height: 100vh;
    background: url("../image/other/banner.jpg") no-repeat center / cover;
    width: 100%;
    position: relative;

    &:before {
        content: "";
        background: linear-gradient(180deg, #1E1E1E1C 0%, var(--brown) 100%);
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        z-index: 1;
    }

    .banner_item {
        position: relative;
        z-index: 2;
        margin: auto;
        max-width: 1240px;
        height: 100%;
        display: flex;
        justify-content: left;
        align-items: center;

        .banner_content {
            padding: 100px 10px 10px;
            width: 75%;
            display: flex;
            flex-direction: column;
            gap: 55px;

            @media(max-width: 768px) {
                padding: 200px 10px 10px;
                width: 100%;
            }

            h1 {
                font-size: 45px;
                font-family: var(--h1);
                text-transform: uppercase;
                line-height: 60px;

                @media(max-width: 1024px) {
                    font-size: 35px;
                }

                @media(max-width: 768px) {
                    font-size: 28px;
                    line-height: 1.5;
                }
            }

            .banner_button {
                display: flex;
                gap: 30px;

                @media(max-width: 768px) {
                    flex-direction: column;
                }

                a {
                    line-height: 1;
                    font-size: 18px;
                    padding: 20px 40px;
                    border-radius: 5px;

                }

                .banner_button-1 {
                    display: flex;
                    gap: 20px;
                    border: 1px solid var(--total-white);
                    font-family: var(--title);

                    @media(max-width: 768px) {
                        justify-content: center;
                    }
                }

                .banner_button-2 {

                    background: var(--blue);
                    font-family: var(--title);

                    @media(max-width: 768px) {
                        display: flex;
                        justify-content: center;
                    }
                }
            }
        }
    }
}

.services {
    .services_item {
        padding: 0 10px;
        margin: auto;
        max-width: 1240px;
        display: flex;
        flex-direction: column;

        .services_grid {
            padding: 50px 0;
            display: flex;
            gap: 100px;
            flex-direction: column;

            .service {
                display: flex;
                gap: 40px;

                img {
                    border-radius: 20px;
                    height: 300px;
                    max-width: 476px;
                    object-fit: cover;
                    object-position: center;
                }

                .service_item {
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    align-items: flex-start;
                    justify-content: center;

                    p {
                        text-transform: uppercase;
                        font-size: 35px;
                        font-family: var(--h2);
                        line-height: 48px;

                        @media (max-width:1024px) {
                            font-size: 25px;
                            line-height: 1.4;
                        }
                    }

                    a {
                        display: flex;
                        gap: 20px;
                        line-height: 1;
                        font-size: 18px;
                        padding: 20px 40px;
                        border-radius: 5px;
                        border: 1px solid var(--total-white);
                        font-family: var(--title);
                    }
                }
            }
        }

    }
}

.about {
    padding-top: 140px;

    .about_item {
        margin: auto;
        padding: 0 10px;
        max-width: 1240px;
        display: flex;
        flex-direction: column;

        .about_text {
            display: flex;
            flex-direction: column;
            gap: 10px;

            p {
                font-size: 35px;
                font-family: var(--text);

                @media (max-width:1024px) {
                    font-size: 25px;
                    padding: 0 10px;
                }
            }
        }
    }
}

.vacancies {
    max-width: 1240px;
    padding: 0 10px;
    padding-top: 140px;
    margin: auto;
    display: flex;
    flex-direction: column;

    p {
        font-family: var(--text);
        font-size: 35px;

        @media (max-width:1024px) {
            font-size: 25px;
            padding: 0 10px;
        }
    }
}

.contact {
    max-width: 1240px;
    padding: 0 10px;
    padding-top: 140px;
    margin: auto;
    display: flex;
    flex-direction: column;

    .contact_details {
        .contact_details-ul {
            display: flex;
            flex-wrap: wrap;
            font-family: var(--text);
            font-size: 24px;
            gap: 40px;

            .contact_details-li {
                display: flex;
                list-style: none;
                gap: 20px;
                align-items: center;

                i {
                    transform: scaleX(-1);
                    color: var(--blue);
                }
            }
        }

    }

    .maps {
        display: flex;
        width: 100%;
        padding: 50px 0 140px;

        iframe {
            width: 1240px;
            height: 520px;
            margin: auto;
            border-radius: 10px;
        }
    }
}