.main {
    display: flex;
    margin: auto;
    flex-direction: column;
    gap: 50px;
    padding: 0 20px;
    max-width: 1240px;

    @media (max-width:1024px) {
        gap: 30px;
    }
}

.banner {
    height: 100vh;
    min-height: 620px;
    background: url("../image/other/banner.webp") center/cover no-repeat;
    position: relative;

    &:before {
        content: "";
        background: linear-gradient(180deg, #1E1E1E1C 0%, var(--brown) 100%);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }

    .banner_item {
        position: relative;
        z-index: 2;
        margin: auto;
        max-width: 1240px;
        height: 100%;
        display: flex;
        align-items: center;

        .banner_content {
            padding: 20px;
            width: 75%;
            display: flex;
            flex-direction: column;
            gap: 55px;

            @media (max-width: 1024px) {
                width: 100%;
            }

            h1 {
                transition-duration: 1s;
                font-size: clamp(28px,3vw,45px);
                font-family: var(--h1);
                text-transform: uppercase;
                line-height: 60px;
                
                @media (max-width: 1024px) {
                    line-height: 1.4;
                }
            }   

            .banner_button {
                display: flex;
                gap: 30px;

                @media (max-width: 760px) {
                    flex-direction: column;     
                }

                a {
                    padding: 20px 40px;
                    border-radius: 5px;
                    font: var(--font-button);

                    &.banner_button-1 {
                        display: flex;
                        gap: 15px;
                        border: 1px solid var(--total-white);

                        @media (max-width: 760px) {
                            justify-content: center;
                        }
                    }

                    &.banner_button-2 {
                        background: var(--blue);

                        @media (max-width: 760px) {
                            display: flex;
                            justify-content: center;
                        }
                    }
                }
            }
        }
    }
}

.services {
    width: 100%;
    .services_item {
        display: flex;
        flex-direction: column;
        .services_grid {
            padding: 20px 0;
            display: flex;
            flex-direction: column;
            gap: 50px;
            .service {
                display: flex;
                padding: 20px 0;
                gap: 50px;
                @media (max-width:760px) {
                    flex-direction: column;
                    gap: 20px;
                }
                img {
                    border-radius: 20px;
                    height: 300px;
                    max-width: 476px;
                    object-fit: cover;
                    object-position: center;
                    @media (max-width:1240px) {
                        width: 400px;
                    }
                    @media (max-width:760px) {
                        width: 100%;
                        max-width: 760px;
                    }
                }
                .service_item {
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    align-items: flex-start;
                    justify-content: center;
                    p{
                        text-transform: uppercase;
                        font-size: clamp(20px,2vw,35px);
                        font-family: var(--h2);
                        line-height: 48px;

                        @media (max-width:1024px) { 
                            line-height: 1.4;
                        }
                    }
                    a {
                        display: flex;
                        gap: 15px;
                        padding: 20px 40px;
                        border-radius: 5px;
                        border: 1px solid var(--total-white);

                        font: var(--font-button);

                        @media (max-width:760px) {
                            width: 100%;
                            justify-content: center;
                        }
                    }
                }
            }
        }

    }
}

.about {
    width: 100%;
    .about_item {
        display: flex;
        flex-direction: column;
        .about_text {
            display: flex;
            flex-direction: column;
            gap: 10px;
            p {
                font: var(--font-text);
            }
        }
    }
}

.vacancies{
    width: 100%;
    display: flex;
    flex-direction: column;
    p{
        font: var(--font-text);
    }
}

.contact {
    width: 100%;
    display: flex;
    flex-direction: column;

    .contact_details {
        .contact_details-ul {
            display: flex;
            gap: 40px;

            font: var(--font-text);
            font-size: clamp(18px, 2vw, 24px);

            @media (max-width:760px) {
                gap: 10px;
                flex-direction: column;
            }
            .contact_details-li {
                display: flex;
                list-style: none;
                gap: 20px;
                align-items: center;  
                i {
                    width: 18px;
                    color: var(--blue);
                }
            }
        }

    }

    .maps {
        display: flex;
        width: 100%;
        padding-top: 50px;
        iframe {
            width: 100%;
            height: 500px;
            height: 520px;
            margin: auto;
            border-radius: 10px;
        }
    }
}