.h2 {
  color: var(--dark-grey);
  text-transform: uppercase;
  font-size: 120px;
  font-family: var(--h2);
}

.banner {
  height: 100vh;
  background: url("../image/other/banner.jpg") no-repeat center/cover;
  width: 100%;
  position: relative;
}
.banner:before {
  content: "";
  background: linear-gradient(180deg, rgba(30, 30, 30, 0.1098039216) 0%, var(--brown) 100%);
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.banner .banner_item {
  position: relative;
  z-index: 2;
  margin: auto;
  max-width: 1240px;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}
.banner .banner_item .banner_content {
  padding: 100px 10px 10px;
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 55px;
}
.banner .banner_item .banner_content h1 {
  font-size: 45px;
  font-family: var(--h1);
  text-transform: uppercase;
  line-height: 60px;
}
.banner .banner_item .banner_content .banner_button {
  display: flex;
  gap: 30px;
}
.banner .banner_item .banner_content .banner_button a {
  line-height: 1;
  font-size: 18px;
  padding: 20px 40px;
  border-radius: 5px;
}
.banner .banner_item .banner_content .banner_button .banner_button-1 {
  display: flex;
  gap: 20px;
  border: 1px solid var(--total-white);
  font-family: var(--title);
}
.banner .banner_item .banner_content .banner_button .banner_button-2 {
  background: var(--blue);
  font-family: var(--title);
}

.services .services_item {
  padding: 0 10px;
  margin: auto;
  max-width: 1240px;
  display: flex;
  flex-direction: column;
}
.services .services_item .services_grid {
  padding: 50px 0;
  display: flex;
  gap: 100px;
  flex-direction: column;
}
.services .services_item .services_grid .service {
  display: flex;
  gap: 40px;
}
.services .services_item .services_grid .service img {
  border-radius: 20px;
  height: 300px;
  max-width: 476px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.services .services_item .services_grid .service .service_item {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  justify-content: center;
}
.services .services_item .services_grid .service .service_item p {
  text-transform: uppercase;
  font-size: 35px;
  font-family: var(--h2);
  line-height: 48px;
}
.services .services_item .services_grid .service .service_item a {
  display: flex;
  gap: 20px;
  line-height: 1;
  font-size: 18px;
  padding: 20px 40px;
  border-radius: 5px;
  border: 1px solid var(--total-white);
  font-family: var(--title);
}

.about {
  padding-top: 140px;
}
.about .about_item {
  margin: auto;
  padding: 0 10px;
  max-width: 1240px;
  display: flex;
  flex-direction: column;
}
.about .about_item .about_text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.about .about_item .about_text p {
  font-size: 35px;
  font-family: var(--text);
}

.vacancies {
  max-width: 1240px;
  padding: 0 10px;
  padding-top: 140px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.vacancies p {
  font-family: var(--text);
  font-size: 35px;
}

.contact {
  max-width: 1240px;
  padding: 0 10px;
  padding-top: 140px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.contact .contact_details .contact_details-ul {
  display: flex;
  flex-wrap: wrap;
  font-family: var(--text);
  font-size: 24px;
  gap: 40px;
}
.contact .contact_details .contact_details-ul .contact_details-li {
  display: flex;
  list-style: none;
  gap: 20px;
  align-items: center;
}
.contact .contact_details .contact_details-ul .contact_details-li i {
  transform: scaleX(-1);
  color: var(--blue);
}
.contact .maps {
  display: flex;
  width: 100%;
  padding: 50px 0 140px;
}
.contact .maps iframe {
  width: 1240px;
  height: 520px;
  margin: auto;
  border-radius: 10px;
}/*# sourceMappingURL=index.css.map */