.h2 {
    color: var(--dark-grey);
    text-transform: uppercase;
    font-size: 120px;
    font-family: var(--h2);
    padding: 10px 0;
}

.banner {
    height: 100vh;
    background: url("../image/other/banner.webp") no-repeat center / cover;
    width: 100%;
    position: relative;

    &:before {
        content: "";
        background: linear-gradient(180deg, #1E1E1E1C 0%, var(--brown) 100%);
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        z-index: 1;
    }

    .banner_item {
        position: relative;
        z-index: 2;
        margin: auto;
        max-width: 1240px;
        height: 100%;
        display: flex;
        justify-content: left;
        align-items: center;

        .banner_content {
            padding: 100px 10px 10px;
            width: 75%;
            display: flex;
            flex-direction: column;
            gap: 55px;

            h1 {
                font-size: 45px;
                font-family: var(--h1);
                text-transform: uppercase;
                line-height: 60px;
            }

            .banner_button {
                display: flex;
                gap: 30px;

                a {
                    line-height: 1;
                    font-size: 18px;
                    padding: 20px 40px;
                    border-radius: 5px;
                }

                .banner_button-1 {
                    display: flex;
                    gap: 15px;
                    border: 1px solid var(--total-white);
                    font-family: var(--title);
                }
                .banner_button-2 {
                    background: var(--blue);
                    font-family: var(--title);
                }
            }
        }
    }
}

.services {
    padding-top: 20px;
    .services_item {
        padding: 0 10px;
        margin: auto;
        max-width: 1240px;
        display: flex;
        flex-direction: column;
        .services_grid {
            padding: 50px 0;
            display: flex;
            flex-direction: column;
            gap: 80px;
            .service {
                display: flex;
                padding: 20px 0;
                gap: 50px;
                img {
                    border-radius: 20px;
                    height: 300px;
                    max-width: 476px;
                    object-fit: cover;
                    object-position: center;
                }
                .service_item {
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    align-items: flex-start;
                    justify-content: center;
                    p{
                        text-transform: uppercase;
                        font-size: 35px;
                        font-family: var(--h2);
                        line-height: 48px;
                    }
                    a {
                        display: flex;
                        gap: 15px;
                        line-height: 1;
                        font-size: 18px;
                        padding: 20px 40px;
                        border-radius: 5px;
                        border: 1px solid var(--total-white);
                        font-family: var(--title);
                    }
                }
            }
        }

    }
}

.about {
    padding-top: 100px;
    .about_item {
        margin: auto;
        padding: 0 10px;
        max-width: 1240px;
        display: flex;
        flex-direction: column;
        .about_text {
            display: flex;
            flex-direction: column;
            gap: 10px;
            p {
                line-height: 1.5;
                font-size: 35px;
                font-family: var(--text);
            }
        }
    }
}

.vacancies{
    max-width: 1240px;
    padding: 0 10px;
    padding-top: 130px;
    margin: auto;
    display: flex;
    flex-direction: column;
    p{
        line-height: 1.5;
        font-family: var(--text);
        font-size: 35px;
    }
}

.contact {
    max-width: 1240px;
    padding: 0 10px;
    padding-top: 170px;
    margin: auto;
    display: flex;
    flex-direction: column;

    .contact_details {
        .contact_details-ul {
            display: flex;
            flex-wrap: wrap;
            font-family: var(--text);
            font-size: 24px;
            gap: 40px;
            .contact_details-li {
                display: flex;
                list-style: none;
                gap: 30px;
                align-items: center;  
                i {
                    transform: scaleX(-1);
                    color: var(--blue);
                }
            }
        }

    }

    .maps {
        display: flex;
        width: 1240px;
        padding-top: 50px;
        iframe {
            width: 100%;
            height: 500px;
            height: 520px;
            margin: auto;
            border-radius: 10px;
        }
    }
}